@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="mainText">
    <h1 class="display-4">Welcome To Razor Sharp Pizza</h1>

    <h2 class="mainSubTittle"> Razar Sharp Pizzas.is the pizza for you and me!</h2>
    
</div>
<div class="text-center">
    <img class="mainImage" src="~/images/Pizzas/pizzatime.jpg" />
    <a class ="btn btn-primary mt-1" asp-area="" asp-page="Checkout/Thankyou">Bring me the pizza</a>
</div>